@{
    ViewBag.Title = "Contactpage to Garaget 2.0";
}
<h2>@ViewBag.Title.</h2>



<address>
    Lexicon AB, .NET kursen under Dmitris<br />
    Årstaängsgatan 9<br />
    Liljeholmen<br />
    </address>

<address>
    <strong>Support:</strong>   <a href="mailto:help_me@lexicon.se">Support@lexicon.se</a><br />
    <strong>Marketing:</strong> <a href="mailto:dmitrij@lexicon.se">Marketing@lexicon.se</a>
</address>